{{input value=username placeholder="Username" type="hidden"}}

<div class="chatbox">
  <div class="messages">
    {{#each message in model}}
      <div class="message">
        <span class="username" style="color: {{message.color}}">{{message.username}}:</span>
        {{message.body}}
        <span class="date">{{format-date message}}</span>
      </div>
    {{/each}}
  </div>

  <div class="new-message">
    {{textarea value=body placeholder="Type your message here..."}}
    <button {{action "sendMessage"}}>Send</button>
  </div>
</div>
